@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Poppins&display=swap');

:root{
    --cor-light-50:#ffffff;
    --cor-light-100:#b9b9b9;
    --cor-light-150:#7e7e7e;


    --cor-yellow-100:#f5ff62;
    --cor-yellow-150:#f5deb3;

    --cor-dark-150:#271e1e;
    --cor-dark-200:#000;

    --gradient-one:linear-gradient(#ffffaa, #fe9d01);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background:  url(../img/background-pages.PNG) no-repeat;
    background-size: cover;
    background-position: center;
}

#check{
    display: none;
}

.navMenu{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 1.3rem 10%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
     /*
    border: 2px solid rgba(0, 0, 0, 0.2);*/
}

.navMenu::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(50px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

/*-------------------Brilho na navbar*/
.navMenu::after{
    content: '';
    position: absolute;
    top:0;
    left:-100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);  
    transition: .5s;
}

.navMenu:hover::after{
    left:100%;
}
/*--------------------Brilho na navbar*/


.logo{
    font-size: 2em;
    width: 100px;
    user-select: none;
    color: var(--cor-light-50);
    font-family: 'GFS Neohellenic', sans-serif;
}

.logo-show{
    z-index: 1000;
}


.navbar a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.20em;
    text-decoration: none;
    color: var(--cor-light-50);
    font-weight: 700;
    margin-left: 2.5em;
    font-size: 1.6em;
    font-weight: 500;
    border-bottom: none;
    transition: 0.5s;
    user-select: none;
}

.navbar a:hover{
    color: var(--cor-yellow-100);
}

.navbar a:active{
    transform: scale(0.9);
}

.iconMenu{
    font-size:2.8rem;
    color: var(--cor-light-50);
    cursor: pointer;
    display: none;
    right: 0;
}

.mainLogo{
    position: relative;
    top: 60px;
    left: 200px;
    width: 1000px;

}

main{
    width: 100%;
    height: 100vh;
}
.footer{

    padding: 16px, 100%;
    background-color: var(--cor-yellow-150);
    text-align: center;
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    position: static;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1200px){
    .mainLogo{
        top: 60px;
        left: 150px;
        width: 900px;
    
    }
}

@media (max-width: 1150px){
    .mainLogo{
        top: 60px;
        left: 100px;
        width: 800px;
    
    }
}

@media (max-width: 992px){
    .navMenu{
        padding: 1.3em 5%;
    }

    .mainLogo{
        top: 120px;
        left: 80px;
        width: 700px;
    
    }
}

@media (max-width: 928px){
    .iconMenu{
        display: inline-flex;
    }

    #check:checked~.iconMenu #menu-icon{
        display: none;
    }

    #check:checked~.iconMenu #close-icon{
        display: block;
    }

    #check:checked~.navbar{
        height: 17rem;
    }

    #close-icon{
        display: none;
    }

    .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);  
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        overflow: hidden; /*esconde as opções do navbar ao "checkar"*/
        transition: 0.3s ease;
    }

    .navbar a{
        display: block;/*deixa navbar vertical*/
        font-weight: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        /*transição suave*/
        opacity: 0;
        transition: .3s ease;
        transform: translateY(-50px);
        
    }
    #check:checked~.navbar a{
        /*transição suave*/
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}
@media (max-width: 780px){
    .mainLogo{
        top: 130px;
        left: 5px;
        width: 700px;
        
    }
}

@media (max-width: 700px){
    .mainLogo{
        top: 140px;
        width: 600px;
        
    }
}

@media (max-width: 610px){
    .mainLogo{
        left: -5px;
        top: 150px;
        width: 500px;
        
    }
}

@media (max-width: 610px){
    .mainLogo{
        top: 170px;
        width: 450px;
        
    }
}

@media (max-width: 550px){
    .mainLogo{
        left: -10px;
        top: 200px;
        width: 420px;
        
    }
}

@media (max-width: 450px){
    .mainLogo{
        top: 250px;
        width: 400px;
        
    }
}

@media (max-width: 400px){
    .mainLogo{
        top: 250px;
        width: 370px;
        left: -15px;
        
    }
}

@media (max-width: 400px){
    .mainLogo{
        top: 250px;
        width: 350px;
        
    }
}




